.achievements,
.achievements__title {
  background-color: @bg-color-sup;
}

.achievements__list {
  .reset-list;
}

.achievements__item {
  margin-bottom: 44px;
}

.achievements__label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 34px;
  background-color: @bg-color-basic;
  border: 1px solid @border-color-checkbox;
  cursor: pointer;
}

.achievements__field:checked + .achievements__label::before {
  background-image: url("../img/icon-yes.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.achievements__field:focus + .achievements__label::before {
  box-shadow: 0 0 1px 1px @input-shadow-color;
}

@media (min-width: @page-width-tablet) {
  .achievements {
    order: 4;
    padding: 1px 60px 50px;
    margin-bottom: 25px;
  }

  .achievements,
  .achievements__title {
    background-color: @bg-color-basic;
  }

  .achievements__item {
    margin: 44px 0 0;
  }

  .achievements__label::before {
    margin-right: 22px;
  }
}

@media (min-width: @page-width-desktop-inner) {
  .achievements {
    padding-bottom: 20px;
  }

  .achievements__list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    height: 200px;
  }
}
