.advantages {
  padding: 52px 20px 0;
  background-color: @bg-color-sup;
}

.advantages__list {
  .reset-list;
}

.advantages__list::after {
  content: "";
  display: block;
  width: ~"calc(@{page-width-mobile} - 40px)";
  min-height: 317px;
  padding: 0;
  background: url("../img/iphone-screen-mobile@1x.png") center 40px no-repeat;
}

.advantages__item {
  text-align: center;
}

.advantages__header {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: @text-size-normal;
  line-height: 1;
  color: @text-color-header;
  margin: 34px 0 15px;
}

.advantages__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 1.75;
  color: @text-color-plain;
  margin: 0;
}

@media (min-width: @page-width-tablet) {
  .advantages {
    padding: 44px 20px 0 29px;
    background-color: @bg-color-sup;
  }

  .advantages__list::after {
    min-height: 521px;
    margin-top: -484px;
    margin-left: -315px;
    background: url("../img/iphone-screen-3-tablet@1x.png") center 40px no-repeat;
  }

  .advantages__list {
    margin-left: 300px;
  }

  .advantages__item {
    text-align: left;
    padding-bottom: 4px;
  }
}

@media (min-width: @page-width-desktop-inner) {
  .advantages {
    padding: 23px 160px 10px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .advantages__list::after {
    display: none;
  }

  .advantages__item {
    max-width: 240px;
  }

  .advantages__item::before {
    content: "";
    display: block;
    width: 240px;
    min-height: 335px;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__item:first-child::before {
    background-image: url("../img/iphone-screen-1-tablet@1x.png");
  }

  .advantages__item:nth-child(2)::before {
    background-image: url("../img/iphone-screen-2-tablet@1x.png");
  }

  .advantages__item:last-child::before {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
  }

  .advantages__header {
    margin-top: -34px;
    margin-bottom: 24px;
    padding-top: 56px;
    font-size: @text-size-headers;
    text-align: center;
    background-color: @bg-color-sup;
    box-shadow: 0 -7px 8px -10px rgba(0, 0, 0, 1);
  }

  .advantages__description {
    font-size: @text-size-normal;
    line-height: 1.7;
    text-align: center;
  }
}
