.advantages {
  padding: 52px 20px 318px;
  /*фон не готов*/
  background-color: @bg-color-sup;
  background-image: url("../../img/bg-triangle-white.svg"),
                    url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, initial;
  background-position-x: center, center;
  background-position-y: 0, 510px;
}

.advantages__item {
  text-align: center;
}

.advantages__header {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: @text-size-normal;
  line-height: 1;
  color: @text-color-header;
  margin: 34px 0 15px;
}

.advantages__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 1.75;
  color: @text-color-plain;
  margin: 0;
}
