.download {
  background-color: @bg-color-accent;
  padding: 28px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__button {
  color: @text-color-contrast;
  background-color: @bg-color-button;
  border: 3px solid @border-color-button-contrast;

  display: flex;
  justify-content: center;
  align-items: center;
}

.download__button--iphone,
.download__button--android,
.download__button--windows {
  font-size: 0;
  border: none;
  border-radius: 0;
}

.download__options-list {
  padding-top: 32px;
  padding-bottom: 22px;
  max-width: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // outline: green solid 1px;
  // outline-offset: -1px;
}

.download__options-item {
  min-width: 47px;
  min-height: 56px;
  // margin-bottom: 22px;

  background-color: tomato;
  outline: white solid 1px;
  outline-offset: -1px;
}

.download__options-item:not(:nth-child(3n)) {
  margin-right: 31px; // примерно пока
}

.download__description {
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-small;
  line-height: 1.75;
  color: @text-color-contrast;
  text-align: center;
  margin: 0;
}
