.gallery__item {
  font-size: 0;
  // временно
  // outline: black solid 1px;
  // outline-offset: -1px;
}

.gallery__image {
  margin-left: 20px;
}

.gallery__image--panorama {
  margin-left: 0;
}

.gallery__panorama-wrapper {
  position: relative;
}

.gallery__panorama-wrapper::after {
  content: "Панорама дня";
  width: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: @text-size-xsmall;
  text-transform: uppercase;
  font-stretch: expanded;
  line-height: 1;
  color: @text-color-contrast;
  text-align: center;
  background-color: @text-color-accent;
}

.gallery__message {
  margin: 0 20px 22px;
  padding: 18px 17px 22px;
  background-color: @bg-color-sup;
}

.gallery__author,
.gallery__text {
  font-size: @text-size-small;
  color: @bg-color-menu;
  line-height: 1.75;
  margin: 0;
}

.gallery__author {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-weight: bold;
}

.gallery__time-ago {
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: @text-size-xsmall;
}

.gallery__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
}

.gallery__likes {
  min-width: fit-content;
  min-height: fit-content;
  margin-top: 16px;
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 0;

  // outline: black solid 1px;
  // outline-offset: -1px;
}

.gallery__button-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  font-size: @text-size-xsmall;
  color: @text-color-accent;
}

.gallery__button-text::before {
  content: "";
  height: 14px;
  width: 13px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px 0 0;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
