.main-nav {
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: @text-size-normal;

  // outline: black solid 1px;
  // outline-offset: -1px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  // outline: white solid 1px;
  // outline-offset: -1px;
}

.site-list__item {
  border-top: 1px solid @bg-color-menu-reflect;
  border-bottom: 1px solid @bg-color-menu-shadow;
  display: flex;
  flex-basis: 62px;
  justify-content: center;
  align-items: center;

  // outline: lightblue solid 1px;
  // outline-offset: -1px;
}

.site-list__item a {
  color: @text-color-menu;

  // outline: green solid 1px;
  // outline-offset: -1px;
}
