.main-offer {
  padding: 40px 50px 5px;
}

.main-offer__text {
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-large;
  line-height: 1.22;
  color: @bg-color-menu;
  text-align: center;
  margin: 0 0 27px 0;
}

@media (min-width: @page-width-tablet) {
  .main-offer {
    padding: 50px 20px 45px;
  }

  .main-offer__text {
    font-size: @text-size-xl;
    margin: 0;
  }
}

@media (min-width: @page-width-desktop-inner) {
  .main-offer {
    padding: 67px 170px 50px;
  }

  .main-offer__text {
    font-size: @text-size-xxl;
    margin: 0;
  }
}
