@tablewidth: calc(calc(@page-width-mobile - 40px) * 3);
@fragmentwidth: calc(@page-width-mobile - 40px);

.prices {
  width: @page-width-mobile;
  padding: 90px 0 24px;
  background-color: @bg-color-sup;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 -66px;
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.prices__table {
  display: table;
  width: @tablewidth;
  margin-bottom: 38px;
  border-collapse: collapse;
  transform: translateX(~"calc(-1 * @{page-width-mobile} + 60px)");
}

.prices__header,
.prices__row {
  display: table-row;
  height: 61px;
  border-top: 2px solid @bg-color-sup;
}

.prices__upper-header,
.prices__side-header,
.prices__feature-text,
.prices__feature-availab {
  display: table-cell;
}

.prices__side-header,
.prices__upper-header--empty {
  display: none;
}

.prices__upper-header {
  width: 210px;
  min-height: 98px;
  border-left: 2px solid @border-color-table;
}

.prices__feature-text {
  width: 210px;
  padding-left: 24px;
  border-left: 2px solid @border-color-table;

  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-small;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
}

.prices__feature-availab,
.prices__upper-header--dummy {
  width: 70px;
  border-left: none;
  text-align: center;
  vertical-align: middle;
}

.prices__feature-availab--yes {
  padding-top: 4px;
  padding-left: 3px;
  fill: #3dc644;
}

.prices__feature-availab--no {
  fill: #f25b26;
}

.prices__header {
  text-align: center;
  line-height: 1.5;
  color: @text-color-contrast;
  background-color: @bg-color-menu;
  border: 2px solid @bg-color-basic;
}

.prices__header--name {
  margin: 17px 0 0 70px;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: @text-size-normal;
  text-transform: uppercase;
}

.prices__header--price {
  margin: 0 0 16px 70px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-large;
}

.prices__row {
  border: 2px solid @border-color-table;
  background-color: @bg-color-basic;
}

@media (min-width: @page-width-tablet) {
  .prices {
    width: @page-width-tablet;
    padding: 89px 0 39px;
    background-position: 0 -41px;
  }

  .prices__table {
    width: 620px;
    margin-right: auto;
    margin-left: auto;
    transform: none;
  }

  .prices__side-header,
  .prices__upper-header--empty {
    display: table-cell;
    width: 155px;
    padding-left: 14px;
    text-align: left;
    vertical-align: middle;
  }

  .prices__upper-header--empty {
    background-color: @bg-color-sup;
    border-top-color: @bg-color-sup;
    border-left-color: @bg-color-sup;
  }

  .prices__upper-header--dummy,
  .prices__feature-text {
    display: none;
  }

  .prices__upper-header,
  .prices__side-header{
    width: 155px;
  }

  .prices__header {
    height: 78px;
  }
  .prices__row {
    height: 47px;
  }

  .prices__feature-availab {
    border-top: 2px solid @border-color-table;
    border-left: 2px solid @border-color-table;
  }

  .prices__header--name {
    margin: 0;
    margin-top: 14px;
    font-size: 16px;
  }

  .prices__header--price {
    margin: 0;
    font-size: @text-size-normal;
    line-height: 1.6;
  }

  .prices__header {
    border-top: 2px solid @bg-color-sup;
  }
}

@media (min-width: @page-width-desktop-inner) {
  .prices {
    width: @page-width-desktop;
    padding: 147px 0 57px;
    background-position: 0 0;
    background-size: 1200px 50px;
  }

  .prices__table {
    width: 940px;
  }

  .prices__side-header,
  .prices__upper-header--empty {
    width: 235px;
    padding-left: 20px;
    font-size: @text-size-normal;
  }

  .prices__upper-header,
  .prices__side-header{
    width: 235px;
  }

  .prices__header {
    height: 100px;
  }
  .prices__row {
    height: 60px;
  }

  .prices__feature-availab {
    border-top: 2px solid @border-color-table;
    border-left: 2px solid @border-color-table;
  }

  .prices__header--name {
    margin: 0;
    margin-top: 18px;
    font-size: @text-size-normal;
  }

  .prices__header--price {
    margin: 0;
    font-size: @text-size-large;
    line-height: 1.6;
  }

  .prices__header {
    border-top: 2px solid @bg-color-sup;
  }
}
