.research {
  display: none;
}

@media (min-width: @page-width-tablet) {
  .research {
    display: block;
    padding: 96px 25px 85px 330px;
    background: url("../../img/icon-editor-diagram-fill.svg") 40px 115px no-repeat,
      url("../../img/icon-timer.svg") 15px 59px no-repeat;
    background-size: 200px 200px, 250px 275px;
  }

  .research__wrapper::after {
    content: "24";
    display: block;
    margin-top: -146px;
    margin-left: -246px;
    font-family: "OpenSans Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 1;
    color: @text-color-accent;
  }

  .research__header {
    margin: 0;
    margin-right: 130px;
    margin-bottom: 10px;
    font-family: "OpenSans Bold", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: @text-size-headers;
  }

  .research__text {
    margin: 0;
    margin-bottom: 12px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.75;
    font-size: @text-size-small;
  }

  .research__link {
    margin: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: normal;
    font-size: @text-size-small;
    color: @text-color-accent;
    text-decoration: underline;
  }
}

@media (min-width: @page-width-desktop-inner) {
  .research {
    padding: 143px 160px 163px 496px;
    background-color: @bg-color-sup;
    background-image: url("../img/icon-editor-diagram-fill.svg"),
      url("../img/icon-timer.svg");
    background-position: 155px 120px, 106px 51px;
    background-repeat: no-repeat, no-repeat;
    background-size: 253px 253px, 350px 345px;
  }

  .research__wrapper::after {
    margin-top: -169px;
    margin-left: -287px;
    font-size: 120px;
  }

  .research__header {
    margin: 0;
    margin-bottom: 21px;
  }

  .research__text {
    margin: 0;
    margin-bottom: 33px;
    line-height: 1.7;
    font-size: @text-size-normal;
  }

  .research__link {
    margin: 0;
    font-size: @text-size-normal;
  }
}
